<footer>
  <div id="footer_wrap" class="p100">
    <div class="f_left">
      <h1 class="logo"><a href=""></a></h1>
      <div class="footer_menu">
       <ul class="f_menu">
        <li><a href="">회사소개</a></li>
        <li><a href="">이용약관</a></li>
        <li><a href="">개인정보처리방침</a></li>
        <li><a href="">공지사항</a></li>
       </ul>
       <p>© 2022 HYUNDAI BIOLAND ALL RIGHTS RESERVED.
      </p>
      </div>
      <div class="footer_icon">
        <ul class="f_icon">
          <li><a href="" class="facebook"></a></li>
          <li><a href="" class="twitter"></a></li>
          <li><a href="" class="instagram"></a></li>
          <li><a href="" class="youtube"></a></li>
        </ul>
      </div>
    </div>
    <div class="f_right">
      <div class="right_wrap">
        <div class="footer_info div1">
        <p>(주)현대바이오랜드대표자 이희준</p>
          <span> | </span>
          <p>고객센터 1522-1378</p>
          <span> | </span>
            <p class="tablet_invi">개인정보보호책임자 김정은</p>
          <span class="tablet_invi"> | </span>
            <p>이메일주소 bnh@hyundaibioland.co.kr</p>
      </div>
      <div class="footer_info div2">
        <p>사업자등록번호  312-81-24525</p>
        <span> | </span>
        <p>사업자정보확인 주소 충청북도 청주시 흥덕구 오송읍 오송생명2로 22 주식회사 현대바이오랜드 </p>
      </div>
      <div  class="footer_info div2"><p> 통신판매업 신고번호 제2022-충북청주-1145호 </p></div>
      <div  class="footer_info div3"><p> 고객님은 안전거래를 위해 현금으로 결제 시 저희 쇼핑몰에 가입한 구매 안전 서비스를 이용하실 수 있습니다. <br><b>서비스 가입사실 확인</b>
      </p></div></div>
 
    </div>
  </div>
</footer>