<header>
  <nav class="p100" id="nav">

        <h1 class="logo"><a href="/"></a></h1>
        <div id="gnb">
          <div id="gnb_bg" class="gnb_t"></div>
          <ul id="gnb_ul">
            <li><a href="/brand">brand</a>
              <ul class="lnb">
                <li><a href="/brand">브랜드스토리</a></li>
                <li><a href="">BI소개</a></li>
              </ul></li>
            <li><a href="/productlist">new</a>
              <ul class="lnb">
                <li><a href="/productlist">신제품</a></li>
              </ul></li>
            <li><a href="">best</a>
              <ul class="lnb">
                <li><a href="/productlist">베스트셀러</a></li>
              </ul></li>
            <li><a href="/productlist">product</a>
              <ul class="lnb">
              <li><a href="">스킨케어</a></li>
              <li><a href="">마스크팩</a></li>
              <li><a href="">기획상품</a></li>
            </ul></li>
            <li><a href="">event</a>
              <ul class="lnb">
                <li><a href="">진행중인 이벤트</a></li>
                <li><a href="">종료된 이벤트</a></li>
                <li><a href="">당첨자발표</a></li>
              </ul></li>
            <li><a href="/noticelist">community</a>
              <ul class="lnb">
                <li><a href="/noticelist">공지사항</a></li>
                <li><a href="">미디어</a></li>
                <li><a href="">쇼핑FAQ</a></li>
              </ul></li>
          </ul>
        </div>
        <div class="mypage">
          <ul>
            <li><a href="/join">join</a></li>
            <li><a href="/login">login</a></li>
          </ul>
        </div>
        <div id="mobile_nav">
          <ul id="hamberger">
            <li id="ham_first"><a href=""></a></li>
            <li id="ham_second"><a href=""></a></li>
            <li id="ham_third"><a href=""></a></li>
          </ul>
        </div>  
  </nav>
  <div id="mobile_gnb">
    <!-- <div id="mobile_bg"></div> -->
<div class="mobile_title">brand</div>
  <div> 
    <ul class="m_lnb">
          <li><a href="/brand">브랜드스토리</a></li>
          <li><a href="">BI소개</a></li>
        </ul>
  </div>
      
     <div class="mobile_title">new</div>
        <ul class="m_lnb">
          <li><a href="">신제품</a></li>
        </ul>
        
      <div class="mobile_title">best</div>
        <ul class="m_lnb">
          <li><a href="">베스트셀러</a></li>
        </ul>
      <div class="mobile_title">product</div>
      <ul class="m_lnb">
          <li><a href="">스킨케어</a></li>
          <li><a href="">마스크팩</a></li>
          <li><a href="">기획상품</a></li>
        </ul>
      <div class="mobile_title">event</div>
      <ul class="m_lnb">
          <li><a href="">진행중인 이벤트</a></li>
          <li><a href="">종료된 이벤트</a></li>
          <li><a href="">당첨자발표</a></li>
        </ul>
      <div class="mobile_title">community</div>
        <ul class="m_lnb">
          <li><a href="/noticelist">공지사항</a></li>
          <li><a href="">미디어</a></li>
          <li><a href="">쇼핑FAQ</a></li>
        </ul>
  </div> 
</header>
