  <section id="join">
    <div>
      <form method="post" action="/writeJoin" onsubmit="return Validation();">
        <table class="join_tb">
          <tr>        
            <td colspan="2">
            <h3 class="notice_h3">Join us</h3>
            <p class="notice_p">리바이리가 전하는 새로운 아름다움을 경험하세요</p>
          </td>
        </tr>
        <tr>
          <td><label for="id">아이디</label></td>
          <td><input type="text" name="id" placeholder="id" id="id"></td>
        </tr>
        <tr>
          <td><label for="pw">비밀번호</label></td>
          <td><input type="password" name="pw" placeholder="password" id="pw"></td>
        </tr>
        <tr>
          <td><label for="repw">비밀번호 확인</label></td>
          <td><input type="password" name="repw" placeholder="check password" id="repw"></td>
        </tr>
        <tr>
          <td><label for="mail">이메일</label></td>
          <td><input type="text" name="email" placeholder="email" id="mail"></td>
        </tr>
        <tr>
          <td><label for="name">이름</label></td>
          <td><input type="text" name="name" placeholder="name" id="name"></td>
        </tr>
        <tr>
          <td><label for="adress">주소</label></td>
          <td><input type="text" name="adress" placeholder="adress" id="adress"></td>
        </tr>
   
        <tr>
          <td><label for="birth">생일</label></td>
          <td><input type="date" name="birth" placeholder="birth" id="birth"></td>
        </tr>
   

        
        </table>
        <div class="join_btn"><input type="submit" value="확인" id="submit"></div>

      </form>
    </div>
  </section>

