
<section id="login">
    <div>
        <form action="/loginre" method="post">
            <table class="login_td">
              <tr>        
                <td colspan="2">
                <h3 class="notice_h3">Log in</h3>
                <p class="notice_p"></p>
              </td>
            </tr>
            <tr>
              <!-- <td><label for="id">아이디</label></td> -->
              <td><input type="text" name="user_id" placeholder="아이디" id="id" class="login_box"></td>
            </tr>
            <tr>
              <!-- <td><label for="pw">비밀번호</label></td> -->
              <td><input type="password" name="user_pw" placeholder="비밀번호" id="pw" class="login_box"></td>
            </tr>
           
            <tr>
              <td class="find"><p class="font14"><a href="">아이디 비밀번호 찾기</a></p></td>
            </tr>
            <tr>
                <td class="login_btn_form"><input type="submit" value="로그인" name="login" class="login_btn"></td>
            </tr>
            <tr class="join-sec">
                <td><p>아이디가 없으신가요? <b> <a href="/join">회원가입</a></b></p></td>
            </tr>
            
            </table>
            <table class="login_td">
                <tr>
                    <td><button class="kakako_join"><a href="">카카오 1초 로그인/회원가입</a></button></td>
                </tr>
                <tr class="join-sec2">
                    <td>
                        <p><a href="" class="font14">카카오톡 플러스친구 채널 추가시 3,000원 할인 쿠폰 제공</a></p>
                    </td>
                </tr>
            </table>

            <table class="login_td">
                <tr>
                    <td class="sns_join">
                       <ul>
                        <li><p>SNS 계정 회원가입 / 로그인 </p></li>
                        <li><a href="" class="bk_box naver"></a></li>
                        <li><a href="" class="bk_box fb_login"></a></li>
                        <li><a href="" class="bk_box apple"></a></li>
                       </ul>
                    </td>
                </tr>
            </table>
   
        
          </form>
    </div>
   
</section>
