<main id="main">
    <!--ㅡmain big-banner 섹션-->
 <section id="main_bnr">
       <!-- Swiper -->
 <div class="swiper mySwiper0">
   <div class="swiper-wrapper">
     <div class="swiper-slide">
       <div class="big_bnr big_bnr1"></div>
       <div class="p100">
         <div class="big_txt">
         <h3>리바이리 콤부차 배리옴</h3>
         <h1>래디언스 앰플</h1>
         <p>풍부한 수분감이 피부에 산뜻하게 흡수되어 촉촉하고 투명한 피부로
           <br>가꾸어주는 강력하지만 순한 이중기능선 비건 앰플만의 산뜻 보습 레시피
         </p>
         <div class="swiper-pagination"></div>
       </div>    </div>
     </div>
     <div class="swiper-slide">
       <div class="big_bnr big_bnr2"></div>
       <div class="p100">
         <div class="big_txt">
         <h3>리바이리 콤부차 배리옴</h3>
         <h1>인텐시브 크림</h1>
         <p>6가지 토탈 피부 개선 효과로 건강한 피부환경을 가꾸어주는
           <br>콤부차 배리옴 크림만의 보습 만점, 올인원 비건 장벽 레시피
         </p>
         <div class="swiper-pagination"></div>
       </div>
     </div>
     </div>
     <div class="swiper-slide">
       <div class="big_bnr big_bnr3"></div>
       <div class="p100">
         <div class="big_txt white" id="white_ft">
         <h3>리바이리 콤부차 배리옴</h3>
         <h1>래디언스 앰플</h1>
         <p>풍부한 수분감이 피부에 산뜻하게 흡수되어 촉촉하고 투명한 피부로
           <br>가꾸어주는 강력하지만 순한 이중기능선 비건 앰플만의 산뜻 보습 레시피
         </p>
         <div class="swiper-pagination"></div>
       </div></div>
     </div>


   </div>

 </div>

   
 </section>
 <!--main1 swiper 섹션-->
 <section id="main1">
   <div class="main1_wrap p100">
     <div class="sec1_left">
       <h1>new arrival</h1>
       <p>가장 먼저 만나보는 리바이리의 신제품</p>
       <a href="" class="btn btn_wh">more</a>
     </div>
     <div class="sec1_right">
       <div> 
         <!-- Swiper -->    
         <div class="swiper mySwiper1">
           <div class="swiper-wrapper">
             <div class="swiper-slide"><a href="" class="img0-1"></a></div>
             <div class="swiper-slide"><a href="" class="img0-2"></a></div>
             <div class="swiper-slide"><a href="" class="img0-3"></a></div>
             <div class="swiper-slide"><a href="" class="img0-4"></a></div>
             <div class="swiper-slide"><a href="" class="img0-5"></a></div>
             <div class="swiper-slide"><a href="" class="img0-6"></a></div>
         
           </div>
         </div>
       </div>
       <div class="arrow swiper-btn-next"></div>
       <div class="arrow swiper-btn-prev"></div>
     </div>
     <a href="" class="mobile_btn btn_wh">more</a>
   </div>
   </div>
 </section>
 <!--main2 product 섹션-->
 <section id="main2">
   <div class="main2_wrap">
     <div id="sub_nav">
       <h1>our product</h1>
       <ul class="p100">
         <li><a href="#sec1">best item</a></li>
         <li><a href="#sec2">skin care</a></li>
         <li><a href="#sec3">mask pack</a></li>
         <li><a href="#sec4">set menu</a></li>
       </ul>
     </div>
     <div class="prod_wrap_1 sc_link" id="sec1">
       <div class="main2_prod p100">
         <div class="main2_left">
           <h3 class="bold">Best Item</h3>
           <p>리바이리가 선보이는 베스트 제품들을 만나보세요</p>
           <a href="" class="btn btn_bk">more</a>
         </div>
         <div class="main2_right">
           <div>
              <!-- Swiper2 -->
         <div class="swiper mySwiper2">
           <div class="swiper-wrapper">
             <div class="swiper-slide">
              <figure><a href="" class="main_product_img img1-1"></a></figure>
              <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
               <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
             <span class="price">23,000원</span></a></div>
             <div class="swiper-slide"><figure><a href="" class="main_product_img img1-2"></a></figure>
              <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
               <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
             <span class="price">23,000원</span></a></div>
             <div class="swiper-slide"><figure><a href="" class="main_product_img img1-3"></a></figure>
              <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
               <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
             <span class="price">23,000원</span></a></div>
             <div class="swiper-slide"><figure><a href="" class="main_product_img img1-4"></a></figure>
              <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
               <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
             <span class="price">23,000원</span></a></div>
                      
           </div>
         </div>
       </div>
       <div class="arrow swiper-btn-next2"></div>
       <div class="arrow swiper-btn-prev2"></div>
     </div>
     <a href="" class="mobile_btn btn_bk">more</a>
           </div>
         </div>
     <div class="prod_wrap_2 sc_link" id="sec2">
           <div class="main2_prod p100">
             <div class="main2_left">
               <h3 class="bold">Skin care</h3>
               <p>리바이리가 선보이는 베스트 제품들을 만나보세요</p>
               <a href="" class="btn btn_bk">more</a>
             </div>
             <div class="main2_right">
               <div>
                  <!-- Swiper2 -->
             <div class="swiper mySwiper2">
               <div class="swiper-wrapper">
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img2-1"></a></figure>
                  <a href="" class="prod_name"> <h4>플랜티어리 UV 컷 마일드 선크림 SPF50+PA++++</h4>
                   <p class="main2_txt">#자외선차단 #산뜻촉촉 #선크림 </p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img2-2"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img2-3"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img2-4"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>           
               </div>
             </div>
           </div>
           <div class="arrow swiper-btn-next2"></div>
           <div class="arrow swiper-btn-prev2"></div>
         </div>
         <a href="" class="mobile_btn btn_bk">more</a>
               </div>
         </div>
     <div class="prod_wrap_1 sc_link" id="sec3">
           <div class="main2_prod p100">
             <div class="main2_left">
               <h3 class="bold">Mask pack</h3>
               <p>리바이리가 선보이는 베스트 제품들을 만나보세요</p>
               <a href="" class="btn btn_bk">more</a>
             </div>
             <div class="main2_right">
               <div>
                  <!-- Swiper2 -->
             <div class="swiper mySwiper2">
               <div class="swiper-wrapper">
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img3-1"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img3-2"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img3-3"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img3-4"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>           
               </div>
             </div>
           </div>
           <div class="arrow swiper-btn-next2"></div>
           <div class="arrow swiper-btn-prev2"></div>
         </div>
         <a href="" class="mobile_btn btn_bk">more</a>
               </div>
         </div>
      <div class="prod_wrap_2 sc_link" id="sec4">
           <div class="main2_prod p100">
             <div class="main2_left">
               <h3 class="bold">Set menu</h3>
               <p>리바이리가 선보이는 베스트 제품들을 만나보세요</p>
               <a href="" class="btn btn_bk">more</a>
             </div>
             <div class="main2_right">
               <div>
                  <!-- Swiper2 -->
             <div class="swiper mySwiper2">
               <div class="swiper-wrapper">
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img4-1"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img4-2"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img4-3"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>
                 <div class="swiper-slide"><figure><a href="" class="main_product_img img4-4"></a></figure>
                  <a href="" class="prod_name"> <h4>에센스 이름이름</h4>
                   <p class="main2_txt">#신제품 #산뜻촉촉 #리페어크림</p>
                 <span class="price">23,000원</span></a></div>           
               </div>
             </div>
           </div>
           <div class="arrow swiper-btn-next2"></div>
           <div class="arrow swiper-btn-prev2"></div>
         </div>
         <a href="" class="mobile_btn btn_bk">more</a>
               </div>
         </div>
       </div>
 </section>
 <!--main3 고정배너, 무빙배너 섹션-->
 <section id="main3">
   <div class="fix_bnr_bg">
     <div class="p100">
       <div class="fix_bnr_txt">
         <h3> 화장품의 Core</h3>
         <h1>성분에 집중하다</h1>
         <p>화장품 원료 전문가이기에 피부를 위한 성분을 아낌없이 담습니다
           <br>바이오기술로 새롭게 태어난 성분이 선사하는 힘, 리바이리가 전하는 새로운 아름다움을 경험하세요</p>
       </div>
     </div>

   </div>
   <div class="moving_bnr_wrap p100">
     <div class="top_bnr bnr_set p110 ">
       <div class="mobile_txt p100"> <h3>자연의 귀한 성분</h3>
         <p>같은 화장품 원료라도
           누가 어떻게 만들었는지가 중요합니다.
           <br>피부에 도움이 되는 귀한 성분만을 선별하여
           정성스레 담았습니다.
           </p></div>
       <div class="mv_bnr_img1"></div>
       <div class="mv_bnr_txt" data-aos="fade-up" data-aos-duration="400" data-aos-offset="200" data-aos-erase="ease-in-sine">
         <h3>자연의 귀한 성분</h3>
         <p>같은 화장품 원료라도
           누가 어떻게 만들었는지가 중요합니다.
           <br>피부에 도움이 되는 귀한 성분만을 선별하여
           정성스레 담았습니다.
           </p>
           <a href="" class="btn btn_bk">more</a>
       </div>
     </div>

     <div class="bottom_bnr bnr_set p110">
       <div class="mobile_txt p100"><h3>진정한 효능</h3>
         <p>일시적으로 좋아보이는 것이 아닌
           정말 피부를 개선하는 것, 
           <br>피부 고민의 근본부터 개선하기 위한 진정한 효능을 선사합니다.
           </p></div>

       <div class="mv_bnr_txt" data-aos="fade-up" data-aos-duration="400" data-aos-offset="200"  data-aos-erase="ease-in-sine">
         <div><h3>진정한 효능</h3>
           <p>일시적으로 좋아보이는 것이 아닌
             정말 피부를 개선하는 것, 
             <br>피부 고민의 근본부터 개선하기 위한 진정한 효능을 선사합니다.
             </p></div> 
           <a href="" class="btn btn_bk">more</a></div>
       <div class="mv_bnr_img2"></div>

     </div>
   </div>
 </section>
     <!--main4 미디어, 인스타 섹션-->
 <section id="main4">
   <div class="main4_wrap">
     <div class="media_wrap p100">
       <h3 class="bold t_center">Media</h3>
        <!-- Swiper2 -->
        <div class="swiper mySwiper3">
         <div class="swiper-wrapper">
           <div class="swiper-slide"><a href="" class="media_img3-1" id="media_a"></a>
            <a href="" class="media_name">
             <p>Beauty Solution 01, 마일드 포밍 클렌저</p></a></div>
           <div class="swiper-slide"><a href="" class="media_img3-2" id="media_a"></a>
            <a href="" class="media_name">
             <p>비클린 판교점 x 리바이리 GRAND OPEN</p></a></div>
           <div class="swiper-slide"><a href="" class="media_img3-3" id="media_a"></a>
            <a href="" class="media_name">
             <p>ReXRe [:리바이리] 콤부차배리옴 인텐시브 크림</p></a></div>
           <div class="swiper-slide"><a href="" class="media_img3-4" id="media_a"></a>
            <a href="" class="media_name">
             <p>ReXRe [:리바이리] 콤부차배리옴 릴리프 마스크</p></a></div>
         </div>
       </div>
     </div>
     <div class="insta_cont p100">
       <div class="insta_wrap p110" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-out-cubic" data-aos-duration="300">
         <h3 class="bold t_center">Instagram</h3>
         <a href=""><p>@rexre.official</p></a>
         <ul class="insta_list">
           <li><a href="" class="img1"></a></li>
           <li><a href="" class="img2"></a></li>
           <li><a href="" class="img3"></a></li>
           <li><a href="" class="img4"></a></li>
           <li><a href="" class="img5"></a></li>
           </ul>
           <ul class="insta_list">
           <li><a href="" class="img6"></a></li>
           <li><a href="" class="img7"></a></li>
           <li><a href="" class="img8"></a></li>
           <li><a href="" class="img9"></a></li>
           <li><a href="" class="img10"></a></li>
         </ul>
       </div>
     </div>
   </div>
 </section>
</main>


