#product_write {
    width: 100%; height: 100%;
    min-height: calc(100vh - 264px);
    background-color: #FAF6F0 ;
}

#product_write input{
    width: 25%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    outline: none;
}

#product_write #p_txt{
    width: 50%;
}

#product_write .btn{
    padding-top: 30px;
    display: flex;
    gap: 30px;
    justify-content: center;
}
#product_write .write_btn{
    height: 45px; width: 120px;
    vertical-align:baseline;
}

/* 대문자조심 */