
#product_list{
    background-color: #FAF6F0;
}
#product_list .product_wrap{
    width: 100%; height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
#product_list .product_wrap>figure{
width: 23.1%;
padding: 40px 0;
padding-right: 36px;
}
#product_list .product_wrap>figure:nth-child(4n){
padding-right: 0;
}
#product_list .product_wrap>figure a{
    text-decoration: none;
    color: #000;
}
#product_list .product_wrap>figure .img{
    width: 100%; height: 18.2291vw;
    overflow: hidden;
}
#product_list .product_wrap>figure img{
    display: block;
    width: 100%; height: 100%;
    object-fit: cover;
    box-sizing: border-box;
    transition-duration: 1s;
}
#product_list .product_wrap>figure img:hover{   
    transform: scale( 1.15 );

 
}



#product_list .product_list_btn{
    width: 100%;
    text-align: right;
    padding-bottom: 50px;
}
#product_list .product_list_btn input{
    width: 120px;
    border: 0px;
    background-color: #00000030;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}
#product_list .product_wrap figcaption{
    padding: 20px 0;
}
#product_list .product_wrap h4{
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
#product_list .product_wrap .price{
    padding-bottom: 20px;
    opacity: 0.7;
}
#product_list .product_wrap .txts{
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}


