#product_more .product_more_wrap{
    background-color: #FAF6F0;
    width: 100%; height: 100vh;

    box-sizing: border-box;
}

.prod_content{
    width: 100%; height: 100%;
    display: flex;
    justify-content: space-between;

}
#product_more .prod_content>div{
   margin-top: 100px;
    /* width: 100%; */
    /* height: 500px; */
}
#product_more .side{
 position: relative;
 display: table;
 height: calc(100vh - 160px);
width: 23%;
/* background-color: aqua; */
}
#product_more .center_prod{
 width: 40%;
 margin-bottom: 50px;
 box-sizing: border-box;
 /* background-color: palevioletred; */
 padding: 40px;
}
#product_more .center_prod img{
width: 100%; height: 100%;
/* background-color: aqua; */
}


#product_more .side>.info_txt{
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
#product_more .side>.info_txt>h3{
    width: 100%;
    /* font-size: 32px; */
    padding: 20px 0;
    line-height: 1.6;
}
#product_more .left_info>.info_txt>h3{
    width: 80%;
    padding: 20px 0;
    line-height: 1.6;

}
.left_info>.info_txt>h4{
    font-size: 24px;
    font-weight: 400;
    padding: 20px 0;
}
.left_info>.info_txt .line{
    border-top: 1px solid #00000050;
}
.left_info>.info_txt .line span{
    padding-left: 20px;
    color: #00000050;
}
.left_info>.info_txt .line span::before{
    display: inline-block;
    content: '';
    width: 1px; height: 20px;
    margin-right: 20px;
    background-color: #00000050;
}

.left_info>.info_txt input{
    margin-top: 50px;
}


.right_cart #prod_v_cate{
    width: 100%;
}

.right_cart #total_price{
    text-align: right;
}
.right_cart .viewer_btn{
    width: 100%;
    border-collapse: collapse;


}
.right_cart .pv_btn a{
    display: block;
   width: 100%; height: 100%;
    text-align: center;
    line-height: 45px;
    color: #000;
    text-decoration: none;
}
.right_cart .viewer_btn{
    display: flex;
    
}
.right_cart .viewer_btn>div{
    width: 50%; height: 100%;
}
.right_cart #pv_cart{
    background-color: #000;
    border: 1px solid #000000;
}
.right_cart #pv_cart a{
    color:#fff;
}
.right_cart #pv_buy{
    border: 1px solid #000000;
}

.right_cart #pv_naver{
    width: 100%;
    height: 45px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 10px;
}
.pv_btn p{
    text-align: right;
    padding-top: 10px;
}
#product_more .btn{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
#product_more .btn input{
    width: 20%;
    border: 0px;
    background-color: #00000030;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
}
/* 대문자조심 */