/*common*/
html{
    scroll-behavior: smooth;
  }
  
  .p100{
    width: 100%;
    margin:0 auto;
    padding: 0 100px;
    box-sizing: border-box;
  }
  .p80{
    padding: 0 80px;
  }
  .p110{
    width: 100%;
    padding: 0 110px;
    box-sizing: border-box;
  }
  
  /*common 종료*/
  
  
  /*header 시작*/
  header{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
  
  }
  #mobile_nav{
    display: none;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  #nav.fix_nav{
    background-color: #FAF6F0;
    backdrop-filter: blur(10px);
    transition: all 0.4s;
    border-bottom: 1px solid #000;
  }
  #nav.nav_hover{
    background-color: #FAF6F0;
    transition: all 0.4s;
    border-bottom: 1px solid #000;
  }
  .logo>a{
    display: block;
    width: 150px; height: 41px; 
    background-image: url(../img/brand_logo.png);
    background-size: cover;
  }
  #gnb_bg{
    position: absolute;
    top:80px; left: 0;
    width: 100%;
    transition: height 0.4s;
    background-color: #FAF6F0;
  }
  .gnb_t{
    height: 0px;
  
  }
  .gnb_h{
    height: 200px;
  }
  #gnb>ul{
    display: flex;
  }
  #gnb>ul>li{
    padding: 0 40px;
    margin: 0 20px;
    box-sizing: border-box;
    position: relative;
  }
  #gnb>ul>li>a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
  
  .lnb{
    width: 100%; height: 0;
    position: absolute;
    top: 100px; right: 0;
    overflow: hidden;
    transition: height 0.3s;
  }
  
  .lnb>li{
    width: 100%;
    text-align: center;
  }
  .lnb>li>a{
    
    width: 100%;
    display: block;
    font-size: 14px;
    padding-bottom: 20px;
    text-decoration: none;
    color: #000000;
  }
  
  .mypage>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .mypage>ul>li{
    padding-left:30px;
  }
  .mypage>ul>li>a{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
  }
  #mobile_nav{
    display:none;
  }
  #mobile_nav>ul>li{
    width: 30px; height: 2px;
    background-color: #000;
    margin-top: 8px;
  }
  
  #mobile_gnb{
    display:none;
    position: fixed;
    background-color: #FAF6F0;
    width: 100%; height: 100%;
    right: -100%; top: 80px;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    margin: 0 auto;
  }
  #mobile_gnb.mobile_gnb_show{
    padding-top: 50px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    right: 0;
  }
  #mobile_nav{
    display:none;
    z-index: 999;
  }
  nav.activeBg{
    background-color: #FAF6F0;
    border-bottom: 1px solid #000;
  }
  #mobile_nav>ul>li{
    width: 30px; height: 2px;
    background-color: #000;
    margin-top: 8px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  

  #mobile_gnb .mobile_title{
    padding: 20px 0;
    width: 100%;
    vertical-align: middle;
    /* height: 50px; */
    margin: 0 auto;
    background-color: #fff;
  }


  .mo_active{
    display: block;
    width: 100%; height: 50px;
    background-color: #000;
    color: #fff !important;
    padding: 10px 50px;
    box-sizing: border-box;
  }
.mobile_title{
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  padding: 10px 50px ;
  box-sizing: border-box;
}

  .m_lnb{
    width: 100%; 
    max-height: 0;
    /* position: absolute; */
    top: 100px; 
    opacity: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
    

  }
  .lnb_toggle{
    transition: all 0.5s ease-in-out;
    max-height: fit-content;
    opacity: 1;
  }

  .m_lnb>li>a{
    width: 100%;
    display: block;
    font-size: 16px;
    padding: 10px 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
  }
  #mobile_nav #ham_second.active{
    opacity: 0;
  }
  #mobile_nav #ham_first.active{
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  #mobile_nav #ham_third.active{
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }
  
  
  /*footer 시작*/
  footer{
    background-color: #FAF6F0;
  ;
  }
  
  #footer_wrap{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
  }
  .f_left{
    width: 45%;
    padding-left: 50px;
    padding-top:10px;
  }
  .f_right{
    width: 55%;
    
  }
  .right_wrap{
    padding-left: 100px;
  }
  .footer_info{
    width: 100%;
    display: flex;
  
  }
  .footer_info>span{
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    color: #808080;}
  
  .footer_menu>ul{
    display: flex;
    justify-content: flex-start;
  
  }
  .f_menu>li>a{
    padding: 10px 0;
    padding-right: 10px;
    box-sizing: border-box;
    color: #000;
    text-decoration: none;
    font-weight: bold;
  }
  footer h1{
    padding-bottom: 20px;
  }
  
  footer .div3{
    padding-top: 30px;
  }
  .f_icon{
    width: 120px; height: 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .f_icon>li{
    width: 24px; height: 24px;
  
  }
  .f_icon>li>a{
    display: block;
    width: 20px; height: 20px;
    opacity: 0.7;
    background-size: cover;
    background-position: center center;
    /* background-color: aqua; */
  
  }
  .facebook{
    background-image: url(../img/footer_fb.png);
  }
  .twitter{
    background-image: url(../img/footer_twt.png);
  }
  .instagram{
    background-image: url(../img/footer_insta.png);
  }
  .youtube{
    background-image: url(../img/footer_youtube.png);
  }
  
  
  
  @media(max-width:1860px){
    
    .right_wrap{
      padding-left: 0px;
    }
  }
  
  
  @media(max-width:1650px){
    .p100{
      padding: 0 80px;
    }
    header{
      width: 100%;
    }
    #gnb>ul>li{
      padding: 0 30px;
      margin: 0 15px;
    }
    .lnb>li>a{
    font-size: 13px;
    }
    .footer_info{
      flex-wrap: wrap;
      padding-left: 10px;
      font-size: 13px
    }
    .footer_info .tablet_invi{
      display: none;
    }
  }
  
  
  
  @media (max-width:1400px){
    body{
      font-size: 15px;
    }
    .p110{
      padding: 0 80px;
    }
    .p100{
         padding: 0 50px;
    }
    .logo>a{
      display: block;
      width: 120px; height: 33px; 
      background-size: cover;
      background-image: url(../img/brand_logo.png);
    }
    #gnb>ul>li{
      padding: 0 25px;
      margin: 0 10px;
    }
    .lnb>li>a{
      font-size: 12px;
    }
    .mypage>ul>li{
      padding-left:15px;
    }
    .mypage>ul>li>a{
      font-size: 14px;
    }
  }
  
  @media (max-width:1200px){
    .p100{
      padding: 0 35px;
  }
    .p110{
      padding: 0 50px;
    }
  }
  
  
  @media (max-width:1000px){
    .p110{
        padding: 0 40px;
      }
    .p100{
      padding: 0 20px;
    }
    #gnb>ul>li{
      padding: 0 20px;
      margin: 0 10px;
    }
    .lnb>li>a{
      font-size: 12px;
    }
  }
  
  @media (max-width:900px){
    /* .p110{
        padding: 0 20px;
      } */
    #gnb>ul>li{
      padding: 0 20px;
      margin: 0 5px;
    }
  }
  
  
  @media (max-width:848px){
    .p110{
        padding: 0 20px;
      }
    #mobile_nav{
      display:block;
    }
    #mobile_gnb{
      display: block;
    }
    #gnb{
      display: none;
    }
    .mypage{
      display: none;
    }
  }
  @media (max-width:800px){
    .p110{
      padding: 0 0px;
    }
  }